<%= render "shared/header" %>
<div>フォロー一覧</div>
<br>
<% @users.each do |user| %>
  <div><%= link_to user.name, user_path(user) %><%= "　　相互" if current_user.followed?(user) %>　　|<%= link_to 'フォロー解除', user_follow_path(user.id), method: :delete %>|</div>
<% end %>
<br>
<div>ユーザーを検索</div>
<%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "ユーザー名を入力", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div>※無記入の検索で自分以外の全てのユーザーが表示されます</div>