<%= render "shared/header" %>
<h1>日付のリンクより詳細確認/投稿ができます</h1>
<br>
<%= calendar(number_of_days: 28, events: @posts) do |date, posts| %>
  <%= link_to date.day, post_path(date) %>
  <div>
  <% posts.each do |post| %>
    <% if "#{post.start_time}".slice(/\d{4}-\d{2}-\d{2}/) == "#{date}" %>
      <% if user_signed_in? %>
        <% if post.user == current_user || post.publish_id == 4 || (post.publish_id == 3 && current_user.followed?(post.user)) || (post.publish_id == 2 && current_user.following?(post.user) && current_user.followed?(post.user)) %>
          <%= link_to post.user.name, user_path(post.user.id) %>
        <% end %>
      <% else %>
        <%= link_to post.user.name, user_path(post.user.id) if post.publish_id == 4 %>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
<h1>"YURUBO"のつかいかた</h1>
<p>
・初めに新規登録またはログインを行ってください。<br>
・自分の予定を投稿する場合は、トップページより日付を選び、詳細ページより時間帯を選んで投稿を行ってください。<br>
・ユーザーの投稿を見る場合は、トップページより日付を選び、詳細ページより確認してください。<br>
・フォローの有無により、表示される投稿が異なります。<br>
・ユーザーをフォローしたいときは、そのユーザーのユーザーページからフォローしてください。<br>&emsp;(マイページ→フォロー一覧ページよりユーザーを検索できます)<br>
</p>
<%= render "shared/footer" %>
